.allStatus {
  width: 600px;
  border-width: thin;
  margin: 25px;
}

.posting {
  margin: auto;
}

.form-control {
  width: 1000px;
  height: 100px;
}

.form-group {
  margin: auto;
  margin-top: 40px;
}

.allStatus {
  font-family: "Nunito", sans-serif;
  font-size: 14pt;
}

#text {
  font-family: "Nunito", sans-serif;
  font-size: 10pt;
  margin-bottom: 0px;
}
